<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.surfernetwork.startapp"
      version="1.1.4">
    <name>StartApp</name>
    <description>PhoneGap StartApp</description>
    <license>MIT</license>
    <keywords>phonegap,app</keywords>


    <js-module src="www/StartApp.js" name="StartApp">
        <clobbers target="window.StartApp" />
    </js-module>

<!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="StartApp">
                <param name="ios-package" value="StartApp" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/StartApp.h" />
        <source-file src="src/ios/StartApp.m" />
    </platform>
         
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StartApp">
                <param name="android-package" value="com.surfernetwork.startapp.StartApp"/>
            </feature>
        </config-file>

        <source-file src="src/android/StartApp.java" target-dir="src/com/surfernetwork/startapp" />
     </platform>          
</plugin>
